* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-color: black;
}

.container {
    display: flex;
    flex-direction:row;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92vh;
    width: 110vw;
}

.img img {
    height: 40%;
    width: 40%;
}

.containt {
    margin-top: 40px;
    display: flex;
    justify-content: left;
    height: 85vh;
    width: 100vw;
    flex-direction: column;
    padding: 20px;
}

.header {
    height: 20%;
    display: flex;
    font-family: "TwitterChirpExtendedHeavy","Verdana",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    align-items: center;
    font-size: xx-large;
}

.upper-header {
    height: 10%;
    display: flex;
    align-items: center;
    font-size: xx-large;
    font-weight: 700;
    font-family: "TwitterChirpExtendedHeavy","Verdana",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.sign-up button {
    width: 45%;
    height: 5vh;
    border-radius: 25px;
}

.sign-in-g {
    margin: 10px 0px;
    border: 1px solid black;
    color: black;
}

.sign-in-g img {
    margin-right: 10px;
    margin-bottom: -3px;
    height: 2.5vh;
    width: 1.1vw;
}

.sign-in-a {
    color: black;
    border: 1px solid black;
}

.sign-in-a img {
    height: 2.5vh;
    width: 1.1vw;
    margin-right: 10px;
    margin-bottom: -3px;
}

.hr12 {
    margin: 10px 0px;
}

.hr1,.hr2 {
    border: 1px;
    height: 1px;
    background-color: grey;
    display: inline-block;
    margin-left: 1px;
    width: 145px;
}

.create-acc {
    margin: 10px 0px;
    color: white;
    background-color: rgb(29, 155, 240);
    border: 1px solid black;
}

.terms {
    width: 40%;
    font-size: small;
}

.terms p {
    color: rgb(113, 118, 123);
}

.terms a {
    color: rgb(29, 155, 240);
    text-decoration: none;
}

.already-acc {
    margin-top: 7vh;
    font-size: 20px;
    font-weight: 700;
    color: black;
}

.sign-in-btn {
    width: 40%;
    margin: 10px 0px;
    height: 5vh;
    color: black;
    border-radius: 25px;
    color: rgb(29, 155, 240);
    background-color: black;
    border: 1px solid grey;
}

.footer {
    display: flex;
    flex-direction: row;
}

nav ul {
    list-style-type: none;
}
  
nav li {
    float: left;
}
    
nav a {
    color: rgb(113, 118, 123);
    text-align: center;
    padding: 10px 11px;
    font-size: small;
    justify-content: center;
    text-decoration: none;
}